.container {
  display: flex;
  justify-content: center;

  .content {
    width: 60%;
    padding: 1rem 0;

    h3 {
      padding: 1rem 0;
      font-size: 1.8rem;
    }

    .child {
      h5 {
        font-weight: 500;
        font-size: 1rem;
        padding: 0.5rem 0;
      }

      .reactions {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
