.container {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(30rem, 61rem));
  // justify-content: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .content {
    margin: 1rem 0;
    padding: 1rem 0;
    width: 60%;

    .title {
      color: #424242;
      font-weight: 400;
      transition: 0.5s;

      a {
        color: #424242;
        font-weight: 800;
        text-decoration: none;
      }
    }
    .title:hover {
      text-decoration: underline;
      color: #5a5858;
    }
  }
}

// div {

//   p {
//     font-size: 1.2rem;
//     font-weight: 400;
//     color: #424242;
//   }

//   h2,
//   h2 a {
//     transition: 0.5s;
//   }

//   h2 a {
//     text-decoration: none;
//     color: black;
//   }

//   h2 a:hover {
//     text-decoration: underline;
//     color: #5a5858;
//   }
// }

// .hits {
//   display: flex;

//   p:nth-child(2) {
//     padding: 0.6rem 1rem;
//   }
// }
