@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

.container {
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: space-around;

  div:nth-child(1) {
    margin: 1rem 1rem;
    padding: 0.5rem 0;
  }

  div:nth-child(2) {
    .link {
      background-color: #cfcccc;
      color: #4b4a4a;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      margin: 2rem 1rem;
      padding: 0.5rem 1rem;
      border-radius: 2px 2px 2px 2px;
      transition: 0.4s;
    }

    .link:hover {
      background-color: #fce8c7;
      color: #e06f1f;
    }
  }
}
